@inject IJSRuntime  JS
@inject SaveItem Notifier

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">WebApplication2</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" open="@collapseNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>*@
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="customerdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Customer data
            </NavLink>
        </li>*@
        @if (online)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="UserDetails">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Customer data
                    @if (Notifier.CompletedDetails1)
                    {
                        <p>&#10003;</p>
                    }
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="UserDetails2">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Customer data 1
                    @if (Notifier.CompletedDetails2)
                    {
                        <p>&#10003;</p>
                    }
                </NavLink>
            </li>
        }

    </ul>
</div>

@code {
    private bool collapseNavMenu = false;
    private bool online = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async Task SetCounter()
    {
        online = await JS.InvokeAsync<bool>("getIsOnline");
    }
}
