@page "/UserSettings"
@using WebApplication2.Shared
@inject HttpClient Http

<h3>UserSettings</h3>

<select>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
</select>

@code {

}
